


{% extends "base.html" %}


{% load static %}

{% block titulo %}
Pago 
{% endblock titulo %}

{% block styles %}
 
<link href="{% static 'administradores/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block contenido %}



<h6>
    Ir a pagar con: 
</h6>
<br>
<form action="{{ response.url }}" method="POST">
<input type="hidden" name="token_ws" value="{{ response.token }}">
<input type="image" src="{% static 'pedidos/img/tb.png' %}" alt="Ejecutar Pago con Webpay">
</form>
<br>

<a  href="{% url 'Tienda' %}"class="btn btn-sm btn-secondary"> Volver a la tienda</a>

{% endblock %}

{% block js %}


{% endblock js %}
