/* Estilos globales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
}

main {
  flex: 1; /* El main ocupará todo el espacio restante */
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
}

.sponsor {
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 95%; /* Ajusta el ancho máximo de la imagen */
  max-height: 100%; /* Ajusta la altura máxima de la imagen */
}

.d-flex {
  display: flex;
}

.imagens {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
  margin-top: 20px; /* Ajusta el espacio superior entre la imagen y el contenido */
}
